@import './partials/index';

@import './header.scss';
@import './footer.scss';
@import './content.scss';
@import './card.scss';




.cards{
    padding: 10px;
    cursor: pointer;
    
    img{
        aspect-ratio: 1/1;
    }

    h4{
        font-size: 12px;
        font-weight: 300;
    }
}