main .box-comic-card {
    color: black;

    .blue-band {
        background-color: #0282f9;
        height: 50px;

        .container {
            position: relative;

            img {
                position: absolute;
                bottom: -25px;
                left: 20px;
                border: 1px solid white;
                width: 15%;
            }
        }
    }
}

.jumbo {
    background-image: url(../img/jumbotron.jpg);
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    .row {
        display: flex;
        flex-wrap: wrap;

        .col-70 {
            flex-basis: 70%;
            padding: 50px 0;

            h3 {
                color: #003f5e;
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 10px;
            }

            p {
                margin-top: 10px;
                color: #565657;
            }
        }

        .col-30 {
            flex-basis: 30%;
            padding: 50px 0;
        }

        .col-80 {
            flex-basis: 80%;
            background-color: #55ba59;
            border-right: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 25px;
            color: white;
            span{
                color: #9df596;
            }
            .price{
                color: white;
            }
        }

        .col-20 {
            flex-basis: 20%;
            background-color: #55ba59;
            padding: 10px 25px;
            color: white;
        }
    }
}

.comics-about {
    color: black;
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 70px;
    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 0.5rem;

        .row {
            display: flex;
            border-bottom: 1px solid rgb(210, 209, 209);

            .col-50 {
                flex-basis: 50%;
                padding-right: 30px;
            }

            .col-70 {
                flex-basis: 70%;
                display: flex;
                align-items: center;
                padding: 5px;
                flex-wrap: wrap;
                p{
                    color: #0282f9;
                    cursor: pointer;
                }
            }

            .col-30 {
                flex-basis: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:20px 5px;
            }
        }
    }
    span{
        color: #003f5e;
    }
    h3{
        color: #003f5e;
        font-size: 20px;
    }
}