* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.app {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100vh;
}

h4 {
  text-transform: uppercase;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}
header .container img {
  aspect-ratio: 1/1;
  width: 70px;
}

.nav {
  display: flex;
  gap: 1rem;
}
.nav .nav-link a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.nav .nav-link a:hover {
  border-bottom: 3px solid #0282F9;
  padding-bottom: 33px;
}
.nav .nav-link:hover {
  color: #0282F9;
}

.cards {
  padding: 10px;
  cursor: pointer;
}
.cards img {
  aspect-ratio: 1/1;
}
.cards h4 {
  font-size: 12px;
  font-weight: 300;
}

.upper-up {
  background-image: url(../img/footer-bg.jpg);
  color: white;
}

.footer-links {
  display: flex;
  background-image: url(../img/dc-logo-bg.png);
  background-position: right;
  background-size: 40%;
  background-repeat: no-repeat;
}
.footer-links .container-links {
  padding: 35px 0 35px 0;
}
.footer-links .container-links ul {
  color: #6E6E6E;
  margin-right: 20px;
  margin-bottom: 10px;
}
.footer-links .container-links ul a {
  font-size: 12px;
  font-weight: 600;
}
.footer-links h4 {
  padding-bottom: 10px;
}

.bottom-side {
  background-color: #303030;
}
.bottom-side .contact-us {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.bottom-side .contact-us button {
  border: 2px solid #0282F9;
  background-color: transparent;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
.bottom-side .contact-us .socials {
  display: flex;
  align-items: center;
}
.bottom-side .contact-us .socials h4 {
  color: #0282F9;
  margin-right: 20px;
}
.bottom-side .contact-us ul {
  display: flex;
  gap: 10px;
}
.bottom-side .contact-us ul li a img {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

main {
  color: white;
}
main .main-up {
  background-color: black;
}
main .main-up .jumbo {
  background-image: url(../img/jumbotron.jpg);
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
}
main .main-up .box-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 25px;
  position: relative;
}
main .main-up .box-cards .current-series {
  top: -12px;
  position: absolute;
  left: 0;
  background-color: #0282F9;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  width: 160px;
  border: none;
  font-weight: 700;
}
main .main-up .button {
  display: flex;
  justify-content: center;
  padding: 10px;
}
main .main-up .button button {
  background-color: #0282F9;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  width: 160px;
  font-size: 12px;
}
main .main-down {
  background-color: #0282F9;
  height: 125px;
  display: flex;
  align-items: center;
}
main .main-down .menu {
  display: flex;
  justify-content: space-between;
}
main .main-down .menu .menu-links {
  display: flex;
  align-items: center;
}
main .main-down .menu .menu-links:nth-child(5) img {
  width: 100px;
}
main .main-down .menu .menu-links a {
  display: flex;
  align-items: center;
}
main .main-down .menu .menu-links a img {
  max-width: 20%;
  margin-right: 8px;
}

main .box-comic-card {
  color: black;
}
main .box-comic-card .blue-band {
  background-color: #0282f9;
  height: 50px;
}
main .box-comic-card .blue-band .container {
  position: relative;
}
main .box-comic-card .blue-band .container img {
  position: absolute;
  bottom: -25px;
  left: 20px;
  border: 1px solid white;
  width: 15%;
}

.jumbo {
  background-image: url(../img/jumbotron.jpg);
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
}
.container .row .col-70 {
  flex-basis: 70%;
  padding: 40px 0;
}
.container .row .col-70 h3 {
  color: #003f5e;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}
.container .row .col-70 p {
  margin-top: 10px;
}
.container .row .col-30 {
  flex-basis: 30%;
}
.container .row .col-80 {
  flex-basis: 80%;
  background-color: #55ba59;
  border-right: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}
.container .row .col-20 {
  flex-basis: 20%;
  background-color: #55ba59;
  padding: 10px;
  color: white;
}

.comics-about {
  color: black;
  background-color: #f6f6f6;
}
.comics-about .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}
.comics-about .container .row {
  display: flex;
}
.comics-about .container .row .col-50 {
  flex-basis: 50%;
}
.comics-about .container .row .col-70 {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.comics-about .container .row .col-30 {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.cards {
  padding: 10px;
  cursor: pointer;
}
.cards img {
  aspect-ratio: 1/1;
}
.cards h4 {
  font-size: 12px;
  font-weight: 300;
}