* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.app {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100vh;
}

h4 {
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}

.container img {
  aspect-ratio: 1/1;
  width: 70px;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav .nav-link a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.nav .nav-link a:hover {
  border-bottom: 3px solid #0282F9;
  padding-bottom: 33px;
}

.nav .nav-link:hover {
  color: #0282F9;
}

.upper-up {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  color: white;
}

.footer-links {
  display: flex;
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-position: right;
  background-size: 40%;
  background-repeat: no-repeat;
}

.footer-links .container-links {
  padding: 35px 0 35px 0;
}

.footer-links .container-links ul {
  color: #6E6E6E;
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer-links .container-links ul a {
  font-size: 12px;
  font-weight: 600;
}

.footer-links h4 {
  padding-bottom: 10px;
}

.bottom-side {
  background-color: #303030;
}

.bottom-side .contact-us {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.bottom-side .contact-us button {
  border: 2px solid #0282F9;
  background-color: transparent;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.bottom-side .contact-us .socials {
  display: flex;
  align-items: center;
}

.bottom-side .contact-us .socials h4 {
  color: #0282F9;
  margin-right: 20px;
}

.bottom-side .contact-us ul {
  display: flex;
  gap: 10px;
}

